<div class="grid__item width-full">
  <div class="admin-application-card">
    <div class="admin-application-card__top">
      <div class="admin-application-card__left">
        <h3><%= client.id %></h3>

        <div class="admin-application-card__data-group">
          <div class="admin-application-card__data">
            <p>Text Opt In - <%= client.text_opt_in.to_s %> - <%= client.phone %></p>
            <p>Email Opt In - <%= client.email_opt_in.to_s %> - <%= client.email %></p>
          </div>
        </div>

        <% if client.address? %>
          <p><%= client.name %></p>
          <p><%= client.street_address %></p>
          <p><%= client.city %></p>
          <p><%= client.state %></p>
          <p><%= client.zip_code %></p>
        <% else %>
          <div class="admin-application-card__data-group">
            <div class="admin-application-card__data">
              <%= form_for(client, builder: CustomCfaFormBuilder) do |form| %>
                <%= form.cfa_input_field :name, "Name" %>
                <%= form.cfa_input_field :street_address, "Street Address" %>
                <%= form.cfa_input_field :city, "City" %>
                <%= form.cfa_input_field :state, "State" %>
                <%= form.cfa_input_field :zip_code, "Zip Code" %>
                <%= form.submit "Add address", class: "button" %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

      <div class="admin-application-card__right">
        <p><%= client.created_at.strftime("%m-%d-%Y") %></p>
        <%= link_to "Application Link", pdf_path(client) %>
      </div>
    </div>

    <% if client.address? %>
    <hr />
      <% if client.mailed? %>
        <button class="button button--small with-padding-small" disabled>Mailed <i class="icon-done"></i></button>
      <% else %>
        <%= link_to "Mail Application to State", mail_pdf_path(client.id), class: "button button--danger button--small with-padding-small", method: :post %>
      <% end %>
    <% end %>
  </div>
</div>