<div class="grid__item width-full">
  <div class="admin-application-card">
    <div class="admin-application-card__top">
      <div class="admin-application-card__left">
        <h3><%= client.id %></h3>

        <div class="admin-application-card__data-group">
          <div class="admin-application-card__data">
            <p>Text Opt In - <%= client.text_opt_in.to_s %> - <%= client.phone %></p>
            <p>Email Opt In - <%= client.email_opt_in.to_s %> - <%= client.email %></p>
          </div>
        </div>
      </div>

      <div class="admin-application-card__right">
        <p><%= client.created_at.strftime("%m-%d-%Y") %></p>
        <%= link_to "Application Link", pdf_path(client) %>
      </div>
    </div>

    <hr />
    <% if client.mailed? %>
      <button class="button button--small with-padding-small" disabled>Mailed <i class="icon-done"></i></button>
    <% else %>
      <%= link_to "Mail Application to State", mail_pdf_path(client.id), class: "button button--danger button--small with-padding-small", method: :post %>
    <% end %>
  </div>
</div>