<section class="slab slab--off-white">
  <div class="grid">
    <div class="grid__item width-full">
      <h1>Apply for Public Benefits in Alaska</h1>

      <%= link_to "Download the PDF", "/GEN%2050C.pdf", class: "button button--cta button--large with-padding-med", target: "_blank", onclick: "window.location.href='#instructions';" %>
      <%= link_to "Submit my application", "/upload", class: "button button--cta button--large with-padding-med" %>

      <p>Download an application for benefits that you can fill in using your phone or computer. Once you’ve completed your application, sign it and come back here to submit it to the Division of Public Assistance for processing. This site was created by <a href="https://www.codeforamerica.org">Code for America</a> to make it possible for Alaskans to apply for benefits online.</p>
    </div>
  </div>
</section>

<section class="slab slab--white is-tablet-hidden">
  <div class="grid steps">
    <div class="grid__item width-one-third">
      <%= render 'step1' %>
    </div>
    <div class="grid__item width-one-third">
      <%= render 'step2' %>
    </div>
    <div class="grid__item width-one-third">
      <%= render 'step3' %>
    </div>
  </div>
</section>

<section class="slab slab--white is-desktop-hidden">
  <div class="vertical-steps text--centered">
    <div class="vertical-steps__step">
      <%= render 'step1' %>
    </div>
    <div class="vertical-steps__step">
      <%= render 'step2' %>
    </div>
    <div class="vertical-steps__step">
      <%= render 'step3' %>
    </div>
  </div>
</section>

<section  class="slab">
  <div class="grid">
    <h2>What can I apply for?</h2>
    <div>
      <div class="grid__item width-one-half">
        <h3>Federally Facilitated Marketplace</h3>
        <p>Private health insurance plans, free or low-cost savings plan, and tax credits that pay for insurance.</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>SNAP (formerly Food Stamps)</h3>
        <p>Helps people buy food.</p>

      </div>
    </div>

    <div>
      <div class="grid__item width-one-half">
        <h3>Medicaid</h3>
        <p>Offers medical coverage to low income individuals people over 65, disabled, blind pregnant women and families with dependent children. Also helps with Medicare Parts A and B premiums.</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>Temporary Assistance Program</h3>
        <p>Gives monthly cash payments to eligible families with children.</p>
      </div>
    </div>

    <div>
      <div class="grid__item width-one-half">
        <h3>Chronic & Acute Medical Assistance</h3>
        <p>Helps people with specific illnesses who don’t qualify for Medicaid and have little or no income.</p>
      </div>
      <div class="grid__item width-one-half">
        <h3>Adult Public Assistance</h3>
        <p>Gives monthly cash payments and medical assistance to eligible elderly, blind, and disabled persons.</p>
      </div>
    </div>

    <div>
      <div class="grid__item width-one-half">
        <h3>General Relief Assistance</h3>
        <p>Helps eligible individuals and families with emergency rent and utility needs. Also helps with burial costs.</p>
      </div>
    </div>
  </div>
</section>

<section class="slab slab--white">
<div class="grid">
  <div class="grid__item width-full">
    <h2><a id="instructions"></a>How to fill out the application</h2>
    <ol class="list--numbered">
      <li>Download the application to your computer.</li>
      <li>Open the PDF using <a href="https://get.adobe.com/reader/">Adobe Acrobat Reader</a> on Windows or the Preview app on a Mac.</li>
      <li>Fill out the application. It begins on page 7.</li>
      <li>Sign the application. Signatures are required on page 7, 17 and 18.</li>
      <div class="reveal">
        <p><a href="#" class="reveal__link">Learn more about how to sign the PDF</a></p>
        <div class="reveal__content">
          <h4>Windows</h4>
          <p class="text--help">(from <a href="https://www.howtogeek.com/164668/how-to-electronically-sign-documents-without-printing-and-scanning-them/">howtogeek.com</a>):</p>

          <ol class="list--numbered">
            <li>Open the PDF document in the Adobe Acrobat Reader DC application. Click the “Fill & Sign” button in the right pane.</li>
            <li>Click the “Sign” button on the toolbar and select “Add Signature” to add your signature to Adobe Acrobat Reader DC.</li>
            <li>select “Draw” and then draw your signature using your mouse or a touch screen. You can also select “Image” if you’d like to sign a piece of paper, scan it with a scanner, and then add your written signature to Adobe Reader.</li>
            <li>After creating a signature, click “Apply” to apply it to the document. If you are using a public computer, leave “Save Signature” unchecked.</li>
            <li>Position your signature where you want it with your mouse and click to apply it. If you chose to save your signature, you’ll find it easily accessible in the “Sign” menu in the future.</li>
          </ol>

          <h4>Mac</h4>
          <p class="text--help">(from <a href="https://support.apple.com/guide/preview/fill-out-and-sign-pdf-forms-prvw35725/mac">apple.com</a>):</p>
          <p>You can capture your signature using your trackpad or a camera on your Mac, to reuse in PDFs.</p>

          <ol class="list--numbered">
            <li>In the Preview app  on your Mac, if the Markup toolbar isn’t showing, click the Show Markup Toolbar button , then click the Sign button .</li>
            <li>Follow the onscreen instructions to create and save your signature.</li>
            <li>Create a signature using your trackpad: Click Trackpad, click the text as prompted, sign your name on the trackpad using your finger, press any key, then click Done. If you don’t like the results, click Clear, then try again.</li>
            <li>If your Mac has a Force Touch trackpad, you can press your finger more firmly on the trackpad to sign with a heavier, darker line.</li>
            <li>Create a signature using your computer’s built-in camera: Click Camera. Hold your signature (on white paper) facing the camera so that your signature is level with the blue line in the window. When your signature appears in the window, click Done. If you don’t like the results, click Clear, then try again.</li>
            <li>Add the signature to your PDF.</li>
            <li>Choose the signature you want to use, drag it to where you want it, then use the handles to adjust the size.</li>
          </ol>
        </div>
      </div>
    </ol>

  </div>
</div>
</section>